.grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.top-article {
		margin: 20px 0px 50px;
		width: 100%;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
		grid-gap: 40px;
		color: lightgray;
		width: 100%;
		justify-content: center;
	}
}
